.home-layout {
  margin: 10px;
  border: 2px solid #adaec3;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 220px);
  background-color: #2b3a42;
  border-radius: 6px;
}

.home-layout__title {
  color: #fff;
}
