.footer {
  border: 2px solid #adaec3;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  max-height: 75px;
  background-color: #2b3a42;
}
